<h1>臨床判断アルゴリズム</h1>
<p>どんな症状ですか？</p>
<p>症状を選んでください。</p>
<div class="container">
  <div class="row">
        <%= link_to "発熱", symptoms_fever_path, class:"btn btn-info" %>
        <%= link_to "頭痛", symptoms_headache_path, class:"btn btn-info" %>
        <%= link_to "発疹", symptoms_rash_path, class:"btn btn-info" %>
        <%= link_to "浮腫", symptoms_edema_path, class:"btn btn-info" %>
        <%= link_to "嚥下困難・障害", symptoms_dysphagia_path, class:"btn btn-info" %>
        <%= link_to "腹痛", symptoms_stomachache_path, class:"btn btn-info" %>
        <%= link_to "下痢・便秘", symptoms_diarrhea_constipation_path, class:"btn btn-info" %>
        <%= link_to "動悸・心悸亢進", symptoms_palpitation_path, class:"btn btn-info" %>
        <%= link_to "咳・痰・呼吸困難", symptoms_cough_path, class:"btn btn-info" %>
        <%= link_to "記憶障害", symptoms_memory_impairmen_path, class:"btn btn-info" %>
        <%= link_to "めまい", symptoms_edema_path, class:"btn btn-info" %>
        <%= link_to "腰痛", symptoms_lumbago_path, class:"btn btn-info" %>
      </div>
  </div>
</div>
